nav{
    display: flex;
    width: 1140px;
    margin: 0px auto;
    justify-content: space-between;
    padding: 40px 0px;
 }
button{
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    background-color: #4E47FF;
     font-size: 15px;
    padding: 15px 40px;
}
.logo{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:bolder;
  font-size: 35px;
  font-style: normal;
    color: #4E47FF;
    
}
.header{
    background-image: url(../Assets/Hero-bg.png);
    height: 700px;
}
.btn{
    text-align: center;
}
.title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.header-content{
    width: 900px;
    margin: 150px auto;
    font-family: raleway;
}
.main{
    width: 1140px;
    margin: 0px auto;
}
/* action section */
.action-content{
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;   
}
.action-data{
    width: 500px;
    height: 200px;
}
.paragraph{
    font-size: 25px;
    color: #252432;
}
.action-title{
    font-size: 40px;
    font-weight: bold;
}
.image{
    width: 400px;
    height: 330px;
    border-radius: 50px;
}
   /* user information section */
.pro-user{
    padding: 50px 140px;
}
.user-info{
    display: flex;
    justify-content: space-around;
}
.user-title{
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family:  "Inter", sans-serif;
}
.data{
    text-align: center;
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    margin: 0px;
}
.user{
    margin-top: 115px;
    background-color: #e1e1f0;
    height: 300px;
    border-radius: 24px;
}
.para{
    text-align: center;
    margin: 0px;
    color: #7c7a7a;
    font-size: 20px;
}
    /* What our users say section */

.user-say{
    margin-top: 130px;
}
.review{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.review-content{
    width: 320px;
    padding: 20px;
    border-radius: 14px;
    background-color: #FFFFFF;

}
.star{
    display: flex;
}
.says{
    text-align: center;
    font-size: 40px;
}
.review-name{
    display: flex;
    gap: 10px;
}
.reviewer{
    font-family:"Inter", sans-serif;
    display: flex;
    flex-direction: column;
     color: #757575;
}
.pic{
    border-radius: 100px;
}
