nav{
    display: flex;
    width: 1140px;
    margin: 0px auto;
    justify-content: space-between;
    padding: 40px 0px;
 }
button{
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    background-color: #4E47FF;
     font-size: 15px;
    padding: 15px 40px;
}
.logo{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-size: 35px;
  font-style: normal;
    color: #4E47FF;
    
}
.header{
    background-image: url(../Assets/Hero-bg.png);
    height: 700px;
}
.btn{
    text-align: center;
}
.title{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
}
.header-content{
    width: 900px;
    margin: 150px auto;
    font-family: raleway;
}
.main{
    width: 1140px;
    margin: 0px auto;
}
.action-content{
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;   
}
.action-data{
    width: 500px;
    height: 200px;
}
.paragraph{
    font-size: 25px;
    color: #252432;
}
.action-title{
    font-size: 40px;
    font-weight: bold;
}
.image{
    width: 400px;
    height: 330px;
    border-radius: 50px;
}
